{% extends 'base.html.twig' %}

{% block title %}New Roomtype{% endblock %}

{% block body %}
    <h1>Create new Roomtype</h1>

    {{ include('roomtype/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('roomtype_index') }}">back to list</a>
{% endblock %}
