{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
<div style="display: flex; justify-content:center">
    <img src="http://www.sumanclinic.com/maintain.jpg" width="50%" height="50%">
</div>
{% endblock %}
