{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div style="position: relative; text-align: center">
        <img src="/images/backgrounds/castle-2.jpg" style="max-width: 100%;"/>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color:rgba(18,19,24,0.8);">
            <div style="padding: 20px; text-transform:uppercase;">
                <p style="font-size: 1.7vw; font-family:'Times New Roman', Times, serif; letter-spacing: 3px;">indoor & outdoor</p>
                <h1 style="font-size: 3.5vw; font-family:'Times New Roman', Times, serif; font-weight: bold">enjoy a luxury experience</h1>
                <a href="{{ path('room_index') }}" style="background-color: #343a40" class="btn btn-secondary">rooms</a>
            </div>
        </div>
    </div>
        <form style="position:relative; top: -30px; background-color:rgba(18,19,24,0.8); width: 90%; margin: 0 auto; display: flex; flex-direction: column; align-items: center">
            <div style="display: flex; justify-content: center; text-align: center">
                <div style="margin: 20px; padding: 10px 20px; background-color: #343a40">
                    <p>check in date</p>                    
                    <input class="form-control" style="background-color: rgb(18,19,24); color: white" type="date">
                </div>

                <div style="margin: 20px; padding: 10px 20px; background-color: #343a40">
                    <p>check out date</p>                    
                    <input class="form-control" style="background-color: rgb(18,19,24); color: white" type="date">
                </div>
            </div>
            <input style="width: 12vw; margin: 0 0 20px 0; background-color: #343a40" class="btn btn-secondary" type="submit">
        </form>
{% endblock %}
